* {
    --main-bg-color01: #323482;
    --main-bg-color02: #d3ce7d;
}

body {
    background: linear-gradient(90deg, rgba(50,52,130,1) 0%, rgba(211,206,125,1) 100%); 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo {
    z-index: 1;
    position: absolute;
    height: 15%;
    top: 5%;
}

.letter {
    background-color: white;
    position: fixed;
    width: 55%;
    height: 55%;
    border: dashed 8px;
    border-color: var(--main-bg-color01);
    top: 15%;
    
}

.quote{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.text_quote {
    color: var(--main-bg-color01);
    position: absolute;
    margin-top: 38%;
    max-width: 70%;
    font-size: 150%;
    font-family: 'Satisfy', cursive;
    text-shadow: var(--main-bg-color02) 1px 5px 10px;
}
.author_quote {
    top: 45%;
    position: absolute;
    margin-top: 15%;
    color: var(--main-bg-color01);
    font-style: italic;
    font-size: 120%;
    text-shadow: var(--main-bg-color02) 1px 5px 10px;
}
.quote button {
    position: fixed;
    top: 80%;
    background-color: var(--main-bg-color01);
    color: var(--main-bg-color02);
    border-width: 0ch;
    padding: 1.5%;
    width: 18%;
    font-style: italic;
    font-size: 120%;
    border-radius: 10px;   
    box-shadow: 5px 5px 5px black;
    text-shadow: 5px 5px 5px black;
}



.citation {
    text-align: center;
    padding-top: 15%;
}

.nom {
    text-align: center;
    padding-top: 15%;  
}

.coolbutton {
    color: #323482;
    border-color: #323482;
    border-width: 5px;
    background-color: #d3ce7d;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 1000;
}